<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16.png">
<link rel="icon" type="image/png" sizes="256x256" href="/assets/images/favicon-256.png">
<link rel="icon" type="image/png" sizes="512x512" href="/assets/images/favicon-512.png">

<!-- Open Graph -->
<meta property="og:title" content="Hannah's Baby Shower">
<meta property="og:description" content="Join us to celebrate Baby Olivia!">
<meta property="og:image" content="https://hannahandjeffrey.baby/assets/images/ultrasound.png">
<meta property="og:url" content="https://hannahandjeffrey.baby/">
<meta property="og:type" content="website">

<!-- Optional but recommended -->
<meta name="twitter:card" content="summary_large_image">